.off-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* margin: 20px 0; */
    padding: 50px 0;
    background: #556270;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 50px;
}
.items-conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}
.items-conteiner div{
    width: 150px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    /* overflow: hidden; */
}
.items-conteiner div img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: 0 0;
}
.items-conteiner div p{
    background-color: white;
    text-align: center;
    padding: 15px 0;
}
.off-conteiner button{
    width: 200px;
    height: 50px;

}