*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    background-color: gray;
    position: relative;

}
.banner-cart{
    position: absolute;
    display: inline-block;
    right: 0;
}
.Home{
    /* display: flex;
    flex: row;
    width: 100% */
}
.Home-header{
    background-color: skyblue;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Home div{
    /* width: 50%; */
}
.Home div img{
    width: 200px;

}
