@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@500&family=Oswald:wght@500&display=swap');


.downloadApp-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 200px; */
    padding: 40px 0;
    margin: 45px 0;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
.off{
    /* width: 100%; */
    border: 2px outset white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.w100{
    width: 100%;
}
.site-name{
    font-family: 'Oswald';
    margin: 0 10px;
    font-size: 30px;

}
.downloadLink{
    width: 100%;
    height: 100px;
}
.downloadLink img{
    width: 20%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
.appStore{
    scale: 0.85;
}